
@{
    ViewBag.Title = "Index";
}

<head>
    <title></title>
    <meta charset="utf-8" />
    <script>
    $('#user-name').html(prompt('Enter your name ! :',''))
    </script>
    
</head>
<body>
<div class="container">
    <h2>Ime</h2>

    <form class="form-inline" action="">
        <div class="form-group">
            <label  class="control-label col-sm-2" for="12">Message12:</label>
            <input type="text" class="form-control col-sm-4" id="12" placeholder="Въведи текста" name="1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<br />

    <h2 id="user-name"></h2>

   

   
</body>

